body {
    background-color: lightblue;
  }

.doc {
    font-family: Arial, Helvetica, sans-serif;
    margin: 100px;
    border-style: solid;
    border-width: thin;
    border-color: lightsteelblue;
    background-color: white;
}



#nav {
    display: flex;
}

.call-nav {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 30px ;
    color: white;
    background-color:  rgb(5, 40, 73);
    list-style: none;
}

.menu {
    padding: 10px;
    list-style: none;
    border-width:  1px;
    background-color:rgb(7, 38, 78);
}

.nav {
    padding: 10px;
    color: white;
    background-color:  rgb(3, 3, 22);
    list-style: none;

}

.obj-nav, .loop-nav, .inner-nav {
    padding: 10px 75px 10px 10px;
    color: white;
    background-color:  rgb(179, 80, 0);
    border-style: solid ;
    border-width: thin;
    border-color:  rgb(179, 80, 0)  rgb(179, 80, 0) #ffffff  rgb(179, 80, 0);
    list-style: none;

}

.section {
    width:100%;

    background-color:rgb(5, 40, 73);
}






a:link,  a:visited {
    color: white;
    text-decoration: none;
}

a:hover, a:active {
    color: lightblue;
    text-decoration: none;
    
}


h1 {
   font-size: xxx-large;
    color: rgb(3, 3, 22);
    padding: 15px;
  }


  h2 {
    background-color: rgb(3, 3, 22);
    color: white;
    padding: 15px;
  }

p {
    margin-left: 2em;
    margin-right: 2em
}

.correct {
    color: rgb(0, 138, 7);
 
}

.wrong, .error {
    color: red;

}

.imp {
    background-color: rgb(78, 0, 0);
    color: white;
    padding: 15px
}

.note {
    background-color: rgb(7, 38, 78);
    color: white;
    padding: 15px
}

.impact {
    font-weight: bold;
    font-size: x-large;
}

.highlight {
    font-weight: bold;
    font-size: large;
}
.bold {
    font-weight: bold;
}

.code{
    color: rgb(19, 83, 165);
    font-weight: light;
}
.video {
    padding: 1em;
    margin: auto;
    width: 50%;
}

.textarea {
    height:2em;
    width: 150px;
    resize: none;
    box-sizing: border-box;
  border: 2px solid #ccc;
}

.pagelink {
    height:2em;
    width: 400px;
    resize: none;
    box-sizing: border-box;
    border: 2px solid #ccc;
}

