* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box1 {
    background: lightcoral;
}

.box2 {
    background: lightblue;
}

.box3 {
    background: lightgreen;
}

main {
    height: 100vh;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr;
}

.box1{
    grid-column: 1/2;
    grid-row: 1/3;
}

/* // the above code locks box1 in it's position */
/* it prevents box two from pushing box 1 in its place due to overlap */

.box3 {
    grid-column:2/4;
 
    /* grid-column: 1/3; */
    /* the above is shorthand for the below 2 lines */
    /* grid-column-start: 1;
    grid-column-end: 3; */
}

.box2 {
    grid-row: 2/4;
}

div{
    border: 2px solid black;
}